<%- include('./partials/header') %>
<body>
    <div class="create-post-container">
        <form>
            <label for="">Create post</label>
            <input type="text" name="" placeholder="Enter the title">
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter the post"></textarea>
            <button type="submit">submit</button>
        </form>
    </div>
</body>