<%- include('./partials/header') %>
<body>
    <div class="create-post-container">
        <form action="/post" method='post'>
            <div>
                <label>Create POST</label>
                <input type="text" name="postTitle" placeholder="Enter the title">
            </div>
            <div>
                <textarea name="postContent" cols="30" rows="10" placeholder="Enter the post"></textarea>
            </div>
            <div>
                <button type="submit">submit</button>
            </div>
        </form>
    </div>
</body>