.menu-items-container{
    width: 100%;
    color: $gray-color;
    p{
        font-weight: 500;
        font-size: 12px;
        margin: 0 0 0 38px;
        font-weight: bold;
    }

    & button{
        color: #b1b1b1;
        display: block;
        height: 35px;
        font-weight: 500;
        border: 0;
        border-left: 8px solid $grey-background;
        background-color: $grey-background;
        width: 100%;
        text-align: left;
        font-size: 12px;
        line-height: 35px;
        padding-left: 10px;

        & i{
            margin-right: 5px;
        } 

    }
    button:hover{
        border-left: 8px solid #3b58f1;
        color: #3b58f1;
        background-color: #F1F3FE;
    }
}