body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

p, h1, h2, h3 {
  font-family: "Helvetica", Arial, sans-serif;
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.navbar {
  display: flex;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1764705882);
  padding: 1% 8%;
  margin-bottom: 30px;
}
.navbar .navbar-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-logo-div h3 {
  font-size: 22px;
  font-weight: 700;
}
.navbar .navbar-logo-div img {
  height: 25px;
  width: 30px;
}
.navbar .nav-searchbar-container {
  background-color: #F3F3F3;
  border: 0;
  height: auto;
  width: 35%;
  border-radius: 4px;
  padding: 5px 10px;
}
.navbar .nav-searchbar-container img {
  height: 20px;
  width: 20px;
  margin-bottom: 2px;
}
.navbar .nav-searchbar-container input {
  width: 80%;
  background-color: #F3F3F3;
  border: 0;
  border-radius: 5%;
  font-weight: 500;
}
.navbar .nav-searchbar-container input::-moz-placeholder {
  color: #b7b7b7;
}
.navbar .nav-searchbar-container input:-ms-input-placeholder {
  color: #b7b7b7;
}
.navbar .nav-searchbar-container input::placeholder {
  color: #b7b7b7;
}
.navbar .nav-searchbar-container input:focus {
  outline: none;
}
.navbar .navbar-notification-profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-notification-profile-container .notification-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 8px;
}
.navbar .navbar-notification-profile-container .notification-button i {
  color: #b7b7b7;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}
.navbar .navbar-notification-profile-container .profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b7b7b7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0;
  margin-left: 8px;
}
.navbar .navbar-notification-profile-container .profile-button i {
  background-color: #b7b7b7;
}

.homepage-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: auto;
  padding: 0 8%;
}
.homepage-container .menu-container {
  height: 100%;
  width: 30%;
  margin: 0 20px;
  display: flex;
}
.homepage-container .menu-container .menu-items-container {
  width: 100%;
  color: #F3F3F3;
}
.homepage-container .menu-container .menu-items-container p {
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 0 38px;
  font-weight: bold;
}
.homepage-container .menu-container .menu-items-container button {
  color: #b1b1b1;
  display: block;
  height: 35px;
  font-weight: 500;
  border: 0;
  border-left: 8px solid #FAFAFA;
  background-color: #FAFAFA;
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 35px;
  padding-left: 10px;
}
.homepage-container .menu-container .menu-items-container button i {
  margin-right: 5px;
}
.homepage-container .menu-container .menu-items-container button:hover {
  border-left: 8px solid #3b58f1;
  color: #3b58f1;
  background-color: #F1F3FE;
}
.homepage-container .post-container {
  height: 100%;
  width: 100%;
  margin: 0 20px;
  overflow: scroll;
}
.homepage-container .post-container .post-message-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
.homepage-container .post-container .post-message-container div:nth-child(1) {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-right: 15px;
}
.homepage-container .post-container .post-message-container div:nth-child(1) h1 {
  font-size: 15px;
  font-weight: 700;
  margin: 8px;
}
.homepage-container .post-container .post-message-container div:nth-child(1) button {
  border: 0;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: blue;
}
.homepage-container .post-container .post-message-container div:nth-child(2) {
  width: 100%;
  min-height: auto;
}
.homepage-container .post-container .post-message-container div:nth-child(2) h1 {
  word-break: break-word;
}
.homepage-container .post-container .post-message-container div:nth-child(2) div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homepage-container .post-container .post-message-container div:nth-child(2) div p {
  color: #b7b7b7;
  font-weight: 600;
  font-size: 13px;
}
.homepage-container .post-container .post-message-container div:nth-child(2) div p img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.homepage-container .post-container .post-message-container div:nth-child(2) div p span {
  color: rgb(122, 122, 255);
}
.homepage-container .post-container .post-message-container div:nth-child(2) div p:nth-child(3) i {
  margin-right: 5px;
}
.homepage-container ::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.homepage-container .create-topic-and-top-users-container {
  height: 100%;
  width: 30%;
  margin: 0 20px;
}
.homepage-container .create-topic-and-top-users-container button {
  background-color: blue;
  width: 100%;
  border: 0;
  color: white;
  padding: 8px 0px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.homepage-container .create-topic-and-top-users-container div {
  background-color: white;
  border-radius: 10px;
  padding: 15px 10px;
}
.homepage-container .create-topic-and-top-users-container div h3 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.homepage-container .create-topic-and-top-users-container div hr {
  margin: 10px;
}
.homepage-container .create-topic-and-top-users-container div .user-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.homepage-container .create-topic-and-top-users-container div .user-bar p {
  font-weight: 500;
  font-size: 12px;
}
.homepage-container .create-topic-and-top-users-container div .user-bar p img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}
.homepage-container .create-topic-and-top-users-container div .user-bar p i {
  margin-left: 5px;
  color: blue;
}
.homepage-container .create-topic-and-top-users-container .footer-bar-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.homepage-container .create-topic-and-top-users-container .footer-bar-container div a {
  font-size: 12px;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */