<div class="menu-items-container">
    <p>MENU</p>
    <button class="menu-button"><i class="fa-solid fa-house"></i> Home</button>
    <button class="menu-button"><i class="fa-solid fa-compass"></i> Explore Topics</button>
    <button class="menu-button"><i class="fa-solid fa-inbox"></i> My Topics</button>
    <button class="menu-button"><i class="fa-solid fa-comment-dots"></i> My Answers</button>
</div>