<% if (post) { %>
    <% post.forEach(element => { %>
<div class="post-message-container">
            <div class="post-name-container">
                <button><i class="fa-solid fa-arrow-up"></i></button>
                <h1>1</h1>
                <button><i class="fa-solid fa-arrow-down"></i></button>
            </div>
            <div class="post-content-container">
                <h1><%= element.userPost.postTitle %> </h1>
                <p><%= element.userPost.postContent %> </p>
                <hr/>
                <div>
                    <p><img src="<%= element.userPost.userAvatar %> "/>Posted by <span><%= element.userPost.userName %></span></p>
                    <p>15hr ago</p>
                    <p><i class="fa-regular fa-message"></i>50+</p>
                </div>
            </div>
            
        </div>
        <% }) %>
    <% } %>