<div class="post-message-container">
    <div>
        <button><i class="fa-solid fa-arrow-up"></i></button>
        <h1>1</h1>
        <button><i class="fa-solid fa-arrow-down"></i></button>
    </div>
    <div>
        <h1>hiiiiiiiiiiii</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem corrupti sequi, maiores eveniet, sunt dolore dolorum rem aut facere, quae dolores neque perspiciatis. Numquam, non! Aut quaerat cum ipsa obcaecati?</p>
        <hr/>
        <div>
            <p><img src="https://i.pinimg.com/originals/a7/1e/2e/a71e2e478b1d456a1734baa199919f31.jpg"/>Posted by <span>WikkiEEEEEEEE</span></p>
            <p>15hr ago</p>
            <p><i class="fa-regular fa-message"></i>50+</p>
        </div>
    </div>
</div>