.footer-bar-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding: 20px 0px;
    div{
        display: flex;
        flex-direction: column;
        padding: 0;
        a{
            
            font-size: 12px;
            text-decoration: none;
            color: $gray-text-color;
        }
    }
}