

.homepage-container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    padding: 0 8%;

    .menu-container{
        height: 100%;
        width: 30%;
        margin: 0 20px;
        display: flex;

       @import './menu';
        
    }
    .post-container{

        height: 100%;
        width: 100%;
        margin: 0 20px;
        overflow: scroll;

        @import './posts';
        
    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }


    .create-topic-and-top-users-container{
        height: 100%;
        width: 40%;
        margin: 0 20px;

        @import './topusers';
        @import './footer';
    }

}