.post-message-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 40px;

    .post-name-container{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-right: 15px;
        h1{
            font-size: 15px;
            font-weight: 700;
            margin: 8px;
        }
        button{
            border: 0;
            background-color: transparent;
            width: fit-content;
            color: blue;
        }
    }
    .post-content-container{
        width: 100%;
        min-height: auto;
        h1{
            word-break: break-word;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p{
                color: $gray-text-color;
                font-weight: 600;
                font-size: 13px;

                img{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                span{
                    color: rgb(122, 122, 255);
                }
            }
            p:nth-child(3){
                i{
                    margin-right: 5px;
                }
            }

        }
    }

}